@import "@/common/vw.scss";
header{
    width: 100%;
    height: vw(100);
    // position: absolute;
    // top: 0;
    // right: 0;
    // left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        width: vw(180);
        img{
            width: 100%;
        }
    }
    div{
        display: flex;
        font-size: 12px;
        width: vw(350);
        align-items: center;
        background: #f3f3f3;
        border-radius: 20px;
        padding: vw(14);
        justify-content: space-between;      
    }
}