@import "@/common/vw.scss";

.hotlist{
    margin-bottom: vw(20);
    padding: 0 vw(20);
    .hot{
        text-align: center;
        padding-top: vw(30);
        margin-bottom: vw(20);
        h2{
            font-size: 20px;
            margin-bottom: vw(20);
        }
        h3{
            color: #999;
        }
    }
    ul{
        display: flex;
        border-top: 1px dotted #ddd;
        overflow-x: auto;
        li{
            padding: vw(40);
            position: relative;
            flex-shrink: 0;
            span{
                padding-right: vw(10);
                &::before{
                    content: "";
                    width: 2px;
                    height:vw(20);
                    background: #ddd;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    display: block;
                }    
            }
            &.active::after{
                content: "";
                width: vw(56);
                height:2px;
                background: #ff9d00;
                position: absolute;
                bottom: 0;
                transform: translateX(-60%);
                left: 50%;
                display: block;
            }
        }
    }
    .see_box{
        margin-top: vw(20);
        padding: 0 vw(40);
        .list_box{
            float: left;
            width: 30%;
            margin:0 3% 3% 0;
            div{
                img{
                    width: 100%;
                }
            }
            h3{
                text-align: center;
                font-size: 14px;
            }
        }

    }
}