@import "@/common/vw.scss";

header{
    width: 100%;
    height: vw(100);
    display: flex;
    padding: vw(20);
    justify-content: space-between;
    align-items: center;
    h1{
        width: vw(180);
        height: 100%;
        display: flex;
        align-items: center;
        padding: vw(10) 0 0 vw(30);
        img{
            width: 100%;
        }
    }
    .top_r{
        width: vw(280);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #ff9d00;
        span{
            margin-right: vw(20);
        }
    }
}
.listbox{
    display: flex;
    padding: 0 15px;
    height: vw(280);

}