@import "@/common/vw.scss";
// header{
//     height: vw(100);
//     display: flex;
//     padding: vw(20)!important;
//     justify-content: space-between;
//     align-items: center;
//     h1{
//         width: vw(180);
//         img{
//             width: 100%;
//         }
//     }
//     div{
//         display: flex;
//         font-size: 12px;
//         width: vw(400);
//         align-items: center;
//         background: #f3f3f3;
//         border-radius: 20px;
//         padding: vw(14);
//         justify-content: space-between;      
//         input{
//             border: 0;
//             border-radius: vw(20);
//             background: #f3f3f3;    
//             padding-left:vw(30)
//         }
//     }
// }
.detail{
    img{
        width: 100%;
    }
    h2{
        text-align: center;
        padding: vw(10) 0;
        font-size: 20px;
    }
    p{
        padding: 0 vw(10);
        font-size: 16px;
        margin-bottom: vw(20);
       
    }
    .author{
        display: flex;
        padding: 0 vw(40);
        justify-content: space-between;
        margin-bottom: vw(40);
        .img_box{
            img{
                width: vw(100);
                border-radius: 50%;
            }
        }
        span{
            display: flex;
            align-items: center;
        }
        
    }
    .trip{
        width: 100%;
        h3{
            text-align: center;
            font-size: 30px;
            color: yellow;
            margin-bottom: vw(30);
        }
        img{
            width: 100%;
            margin-bottom: vw(20);
        }
    }
}