@import "@/common/vw.scss";
.con{
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        width: 100%;
        height: vw(100);
        display: flex;
        padding: vw(20);
        justify-content: space-between;
        align-items: center;
        h1{
            width: vw(180);
            img{
                width: 100%;
            }
        }
        div{
            display: flex;
            font-size: 12px;
            width: vw(350);
            align-items: center;
            background: #f3f3f3;
            border-radius: 20px;
            padding: vw(14);
            justify-content: space-between;      
        }
        a{
            color: #ffa800;
        }
    }
    main{
        height: 100%;
        flex: 1;
        section{
            height: 100%;
            width: 100%;
        .am-wingblank{
            margin: 0!important;
        }
        .sub-title {
            color: #888;
            font-size: 14px;
            padding: 15px 0 9px 15px;
          }
          .not-square-grid .am-grid-icon {
            width: 40px;
            height: 60px;
          }
          .event{
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              padding: vw(20);
              li{
                  width: 22%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-bottom: vw(20);
                  span{
                      margin-top: vw(10);
                  }
              }
          }
        }
    }
}
